@import url(https://fonts.googleapis.com/css?family=Tangerine);
body {
    background-color: rgb(179, 177, 177);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@media (min-width: 0px) {
    footer {
        background-color: rgb(65, 47, 47); 
        height: 10vw; 
        width: 100%;
        clear: both;
    }
    .navul li {
        flex: 1;
        text-align: center;
        font-size: 3vw;
    }
    #First {
        text-align: center;
        white-space: nowrap;
        background-color: rgb(65, 47, 47);
        margin: 0px;
        padding: 10px;
        color:rgb(204, 204, 204);
        font-size: 2.5vw;
    }
    #container {
        display: flex;
        top: 0px;
        z-index: 100;
        justify-content: center; 
        background-image: url(./resources/wall.png);
        height: 25.5vw; 
        width: 100%;
    }
    #oval-border {
        width: 100vw; 
        height: 12.5vw; 
        border: 4px solid rgb(17, 4, 4); 
        border-radius: 60% 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(17, 4, 4); ;
        transform: rotate(-4.7deg);
        color: rgb(129, 25, 25);
        margin-top: 3vw;
    }
    #text {
        letter-spacing: 5px ;
        transform: rotate(3.7deg);
        font-family: Tangerine;
        font-size: 6.5vw;
        font-style: italic;
        margin-top: 13.8px;
        white-space: nowrap;
    }
    #videoo {
        height: 50vw;
    }
    #facts {
        margin: 10px;
        text-wrap: wrap;
        text-align: center;
        color: rgb(53, 32, 32);
        font-size: 2.5vw;
    }
}
@media (max-width: 380px) {
    #container {
        display: flex;
        top: 0px;
        z-index: 100;
        justify-content: center; 
        background-image: url(./resources/wall.png);
        height: 20.5vw; 
        width: 100%;
    }
    #oval-border {
        width: 100vw; 
        height: 12.5vw; 
        border: 4px solid rgb(17, 4, 4); 
        border-radius: 60% 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(17, 4, 4); ;
        transform: rotate(-4.7deg);
        color: rgb(165, 104, 104);
        margin-top: 3vw;
    }
    #text {
        letter-spacing: 5px ;
        transform: rotate(3.7deg);
        font-family: Tangerine;
        font-size: 6.5vw;
        font-style: italic;
        margin-top: 13.8px;
        white-space: nowrap;
    }
}
@media (min-width: 768px) {
    footer {
        background-color: rgb(65, 47, 47); 
        height: 2.5vw; 
        width: 100%;
        clear: both;
    }
    .navul li {
        flex: 1;
        text-align: center;
        font-size: 1.5vw;
    }
    #First {
        text-align: center;
        white-space: nowrap;
        background-color: rgb(65, 47, 47);
        margin: 0px;
        padding: 10px;
        color:rgb(204, 204, 204);
        font-size: 1.5vw;
    }
    #container {
        display: flex;
        top: 0px;
        z-index: 100;
        justify-content: center; 
        background-image: url(./resources/wall.png);
        height: 10vw; 
        width: 100%;
    }
    #oval-border {
        width: 50vw; 
        height: 6.5vw; 
        border: 4px solid rgb(17, 4, 4); 
        border-radius: 60% 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(17, 4, 4); ;
        transform: rotate(-4.7deg);
        color: rgb(129, 25, 25);
        margin-top: 1.5vw;
    }
    #text {
        letter-spacing: 5px ;
        transform: rotate(3.7deg);
        font-family: Tangerine;
        font-size: 3.8vw;
        font-style: italic;
        margin-top: 13.8px;
        white-space: nowrap;
    }
    #videoo {
        height: 20vw;
    }
    #facts {
        margin: 10px;
        text-wrap: wrap;
        text-align: center;
        color: rgb(53, 32, 32);
        font-size: 1vw;
    }
}
@media (max-width: 768px) {
    #batzzl {
        display: none;
    }
    #batzzr {
        display: none;
    }
    #hihi {
        display: none;
    }
}
img {
    filter: grayscale(50%);
    object-position: 10px;
}
h3:hover {
    color: rgb(165, 0, 0);
}
h1 {
    background-image: url(./resources/name.png);
    background-size: contain; 
    background-position: center; 
    background-repeat: repeat; 
    height: 5vw; 
    margin: 0;
    padding: 10px;
}
h1:hover {
    background-image: url(./resources/namer.png);
}
.video-container {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(17, 2, 2);
}
#batzzl {
    height: 15vw;
    margin-left: 0px;
}
#batzzr {
    height: 15vw;
    margin-left: 0px;
}
#pun {
    opacity: 50%;
}
#HIM {
    height: 50vw;
    filter: grayscale(0%);
    padding: 10px;
}
@media (min-width: 768px) {
    #HIM {
        height: 25vw;
    }
}
#HIM:hover {
    content: url(./resources/HIMR.png);
    transform: scale(1.1);
    filter: drop-shadow(0 0 40px rgb(0, 0, 0));
}
ul {
    margin: 0;
    padding: 0;
    list-style-position:inside; 
}
#backgroundW {
    border-left: 10vw solid rgb(85, 11, 11); 
    border-right: 10vw solid  rgb(85, 11, 11);
    border-top: 0.01px solid  rgb(85, 11, 11);
    border-bottom: 0.1px solid rgb(85, 11, 11);
    margin: 0;
    padding: 0;
}
#navi {
    background-color: rgb(92, 69, 69);
    width: 100%;
    padding: 0px;

}
@media (max-width: 360px) {
    #navi {
        position: fixed;
        bottom: 0;
        z-index: 1000;
    }
}
#navi {
    background-color:rgb(92, 69, 69);
    padding: 10px 0;
}

.navul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 2vw;
}


.navul li:first-child,
.navul li:last-child {
    flex-grow: 100; 
}
.navul li a {
    color: rgb(204, 204, 204);
    text-decoration: none;
    display: block;
    padding: 1px;
}

/* Center align the middle item */
.navul li:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
}
nav a:hover {
    color: rgb(29, 29, 29);
}
#Future {
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 24px;
    background-color: rgb(151, 126, 126);
}
#Future2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    font-size: 40px;
}
#Future3 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    font-size: 64px;
    filter: drop-shadow(0 0 5px rgb(253, 249, 249));
    text-shadow: 0 0 2px white;
    padding-left: 70PX;
}
#job {
    float: left;
    width: 46%;
    text-align: center;
    padding-right: 1%;
    padding-left: 3%;
    white-space: nowrap;
    font-size: 20px;
}
#paint {
    float: left;
    width: 46%;
    text-align: center;
    padding-left: 1%;
    padding-left: 3%;
    white-space: nowrap;
    font-size: 20px;
}
#hustle {
    opacity: 50%;
}
#job p + p  {
    margin-top: -15px; 
}
#paint p + p {
    margin-top: -15px; 
}
#yesyes {
    text-align: center;
    font-size: 85px;
    clear: both;
    padding-top: 50px;

    font-family: Tangerine;
    filter: drop-shadow(0 0 5px rgb(253, 249, 249));
}
#float {
    padding-top: 30px;
}
#wowie {
    text-align: center;
}
#jheader {
    text-align: center;
    background-color: rgb(151, 126, 126);
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 34px;
    
}
#jbelow {
    text-align: center;
    background-color: rgb(39, 25, 25);
    margin: 0Px;
    color: aliceblue;
    height: 40px;
    padding-top: 10px;
    white-space: nowrap;
    font-family: tangerine;
    font-size: 30px;
}
#text1 {
    float: left;
    width: 50%;
    padding-top: 9%;
    padding-left: 2%;
    font-size: 2.5vw;
    text-align: center;
}
#text2 {
    float: right;
    width: 50%;
    padding-top: 9%;
    padding-left: 2%;
    font-size: 2.5vw;
    text-align: center;
}
#text3 {
    float: left;
    width: 50%;
    padding-top: 9%;
    padding-left: 2%;
    font-size: 2.5vw;
    text-align: center;
}
#futurepic {
    padding-right: 1%;
    
    
}
